'menu': [
  'label': 'Packages'
  'submenu': [
    'label': 'BBCode Preview'
    'submenu': [
      'label': 'Toggle Preview'
      'command': 'bbcode-preview:toggle'
    ]
  ]
]

'context-menu':
  '.bbcode-preview':
    'Copy': 'core:copy'
    'Save As HTML\u2026': 'core:save-as'
