'menu': [
  'label': 'Packages'
  'submenu': [
    'label': 'BBCode Preview'
    'submenu': [
      'label': 'Toggle Preview'
      'command': 'bbcode-preview:toggle'
    ]
  ]
]

'context-menu':
  '.bbcode-preview': [
    {label: 'Copy As HTML', command: 'core:copy'}
    {label: 'Save As HTML\u2026', command: 'core:save-as'}
  ]
  '.tree-view .file .name[data-name$=\\.bbcode]':
    'BBCode Preview': 'bbcode-preview:preview-file'
  '.tree-view .file .name[data-name$=\\.txt]':
    'BBCode Preview': 'bbcode-preview:preview-file'
